.container {
  display: grid;
  grid-template-columns: 300px 80px 50px 50px 50px 50px 50px 50px 50px 50px 50px 80px 300px;
  grid-template-rows: 80px 50px 50px 50px 50px 50px 50px 50px 50px 80px;
  background-color: #bfdbae;
  font-size: 12px;
  justify-content: center;
}

.playerBStat {
  background-color: yellow;
  font-size: 15px;
  grid-column: 13/14;
  grid-row: 9/10;
  text-align: center;
  border: 1px solid;
  height: 15px;
  width: 230px;
}

.playerAStat {
  background-color: red;
  font-size: 15px;
  grid-row: 9/10;
  grid-column: 1/2;
  text-align: center;
  border: 1px solid;
  height: 15px;
  width: 230px;
}

.comment {
  background-color: #bfdbae;
  grid-column: 6/9;
  grid-row: 5/8;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.yewtee {
  background-color: blue;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-right: 1px;
  margin-left: 65px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.kranji {
  background-color: blue;
  grid-column: 2/3;
  grid-row: 3/4;
  margin-right: 1px;
  margin-left: 65px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.raffles {
  background-color: brown;
  grid-column: 3/4;
  grid-row: 1/2;
  margin-top: 64px;
  height: 15px;
  width: 48px;
  margin-bottom: 0px;
  margin-left: 1px;
}

.cityhall {
  background-color: brown;
  grid-column: 5/6;
  grid-row: 1/2;
  margin-top: 64px;
  height: 15px;
  width: 48px;
  margin-bottom: 0px;
  margin-left: 1px;
}

.dhobyghaut {
  background-color: lightblue;
  grid-column: 8/9;
  grid-row: 1/2;
  margin-top: 64px;
  height: 15px;
  width: 48px;
  margin-bottom: 0px;
  margin-left: 1px;
}

.somerset {
  background-color: lightblue;
  grid-column: 10/11;
  grid-row: 1/2;
  margin-top: 64px;
  height: 15px;
  width: 48px;
  margin-bottom: 0px;
  margin-left: 1px;
}

.orchard {
  background-color: lightblue;
  grid-column: 11/12;
  grid-row: 1/2;
  margin-top: 64px;
  height: 15px;
  width: 48px;
  margin-bottom: 0px;
  margin-left: 1px;
}

.marsiling {
  background-color: rgb(33, 148, 33);
  grid-column: 2/3;
  grid-row: 6/7;
  margin-right: 1px;
  margin-left: 65px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.woodlands {
  background-color: rgb(33, 148, 33);
  grid-column: 2/3;
  grid-row: 8/9;
  margin-right: 1px;
  margin-left: 65px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.admiralty {
  background-color: rgb(33, 148, 33);
  grid-column: 2/3;
  grid-row: 9/10;
  margin-right: 1px;
  margin-left: 65px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.sbw {
  background-color: yellow;
  grid-column: 3/4;
  grid-row: 10/11;
  margin-top: 1px;
  height: 15px;
  width: 48px;
  margin-bottom: 0px;
  margin-left: 1px;
}

.canberra {
  background-color: yellow;
  grid-column: 5/6;
  grid-row: 10/11;
  margin-top: 1px;
  height: 15px;
  width: 48px;
  margin-bottom: 0px;
  margin-left: 1px;
}

.yishun {
  background-color: yellow;
  grid-column: 6/7;
  grid-row: 10/11;
  margin-top: 1px;
  height: 15px;
  width: 48px;
  margin-bottom: 0px;
  margin-left: 1px;
}

.khatib {
  background-color: rgb(255, 5, 5);
  grid-column: 8/9;
  grid-row: 10/11;
  margin-top: 1px;
  height: 15px;
  width: 48px;
  margin-bottom: 0px;
  margin-left: 1px;
}

.yck {
  background-color: rgb(255, 5, 5);
  grid-column: 9/10;
  grid-row: 10/11;
  margin-top: 1px;
  height: 15px;
  width: 48px;
  margin-bottom: 0px;
  margin-left: 1px;
}

.amk {
  background-color: rgb(255, 5, 5);
  grid-column: 11/12;
  grid-row: 10/11;
  margin-top: 1px;
  height: 15px;
  width: 48px;
  margin-bottom: 0px;
  margin-left: 1px;
}

.bishan {
  background-color: magenta;
  grid-column: 12/13;
  grid-row: 9/10;
  margin-right: 65px;
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.braddell {
  background-color: magenta;
  grid-column: 12/13;
  grid-row: 7/8;
  margin-right: 65px;
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.tpy {
  background-color: orange;
  grid-column: 12/13;
  grid-row: 5/6;
  margin-right: 65px;
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.novena {
  background-color: orange;
  grid-column: 12/13;
  grid-row: 4/5;
  margin-right: 65px;
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.newton {
  background-color: orange;
  grid-column: 12/13;
  grid-row: 2/3;
  margin-right: 65px;
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.playerA {
  height: 20px;
  width: 20px;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 8px;
  /* display: relative; */
  align-self: flex-end;
  position: relative;
}

.playerB {
  height: 20px;
  width: 20px;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 10px;
  /* display: inline-block; */
  /* justify-self: left; */
  position: relative;
}

.deedCard {
  border: solid 1px black;
  background-color: white;
  grid-column: 6/9;
  grid-row: 4/8;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1px;
}

.deedTag {
  background-color: black;
  color: white;
  width: 120px;
  margin-left: 15px;
}

.buyBtn {
  grid-row: 7/8;
  grid-column: 6/7;
  margin-top: 40px;
  background-color: red;
  color: white;
  border-radius: 10px;
}
.skipBtn {
  grid-row: 7/8;
  grid-column: 8/9;
  background-color: red;
  color: white;
  border-radius: 10px;
}

.gameTitle {
  font-size: 40px;
  color: red;
  grid-column: 5/10;
  grid-row: 2/3;
  text-align: center;
}

.info {
  border-radius: 10px;
  border: 1px solid black;
  width: 120px;
  height: 100px;
  text-align: center;
  grid-column: 6/9;
  margin-top: 2px;
  margin-left: 14px;
  background-color: #bfdbae;
}

.roll {
  grid-column: 7/8;
  grid-row: 9/10;
  background-color: red;
  color: white;
  border-radius: 10px;
  height: 30px;
  width: 60px;
}

.payRent {
  grid-row: 8/9;
  grid-column: 7/8;
  background-color: red;
  color: white;
  border-radius: 10px;
  height: 30px;
  width: 60px;
}

.playBtn {
  grid-row: 8/9;
  grid-column: 7/8;
  background-color: red;
  color: white;
  border-radius: 10px;
  height: 30px;
  width: 60px;
}

.fineBtn {
  grid-row: 8/9;
  grid-column: 7/8;
  background-color: #bfdbae;
  color: white;
  border-radius: 10px;
  height: 30px;
  width: 60px;
  border: none;
}

.passBtn {
  grid-row: 8/9;
  grid-column: 8/9;
  background-color: #bfdbae;
  color: white;
  border-radius: 10px;
  height: 30px;
  width: 70px;
  border: none;
}

.restartBtn {
  grid-row: 8/9;
  grid-column: 7/8;
  background-color: red;
  color: white;
  border-radius: 10px;
  height: 30px;
  width: 60px;
}

.tiles {
  background-color: #8fbc72;
  border: solid 1px white;
}

.main {
  grid-column: 2/13;
  grid-row: 1/2;
}

.right-side {
  grid-row: 1/11;
  grid-column: 12/13;
  text-align: right;
}

.left-side {
  grid-row: 1/11;
  grid-column: 2/3;
}

.bottom {
  grid-column: -13/-2;
  grid-row: 10/11;
}
/* top row */
.a0 {
  grid-column: 2/3;
  grid-row: 1/2;
  color: red;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

.a1 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.a2 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.a3 {
  grid-column: 5/6;
  grid-row: 1/2;
}

.a4 {
  grid-column: 6/7;
  grid-row: 1/2;
}

.a5 {
  grid-column: 7/8;
  grid-row: 1/2;
}

.a6 {
  grid-column: 8/9;
  grid-row: 1/2;
}

.a7 {
  grid-column: 9/10;
  grid-row: 1/2;
}

.a8 {
  grid-column: 10/11;
  grid-row: 1/2;
}

.a9 {
  grid-column: 11/12;
  grid-row: 1/2;
}

.a10 {
  grid-column: 12/13;
  grid-row: 1/2;
}

/* right column top down */
.a11 {
  grid-column: 12/13;
  grid-row: 2/3;
}

.a12 {
  grid-column: 12/13;
  grid-row: 3/4;
}

.a13 {
  grid-column: 12/13;
  grid-row: 4/5;
}

.a14 {
  grid-column: 12/13;
  grid-row: 5/6;
}

.a15 {
  grid-column: 12/13;
  grid-row: 6/7;
}

.a16 {
  grid-column: 12/13;
  grid-row: 7/8;
}

.a17 {
  grid-column: 12/13;
  grid-row: 8/9;
}

.a18 {
  grid-column: 12/13;
  grid-row: 9/10;
}

.a19 {
  grid-column: -3/-2;
  grid-row: 10/11;
}

/* bottom row */
.a20 {
  grid-column: 11/12;
  grid-row: 10/11;
}
.a21 {
  grid-column: 10/11;
  grid-row: 10/11;
}

.a22 {
  grid-column: 9/10;
  grid-row: 10/11;
}

.a23 {
  grid-column: 8/9;
  grid-row: 10/11;
}

.a24 {
  grid-column: 7/8;
  grid-row: 10/11;
}

.a25 {
  grid-column: 6/7;
  grid-row: 10/11;
}

.a26 {
  grid-column: 5/6;
  grid-row: 10/11;
}

.a27 {
  grid-column: 4/5;
  grid-row: 10/11;
}

.a28 {
  grid-column: 3/4;
  grid-row: 10/11;
}

/* left column bottom up */

.a29 {
  grid-column: 2/3;
  grid-row: 10/11;
}

.a30 {
  grid-column: 2/3;
  grid-row: 9/10;
}

.a31 {
  grid-column: 2/3;
  grid-row: 8/9;
}

.a32 {
  grid-column: 2/3;
  grid-row: 7/8;
}

.a33 {
  grid-column: 2/3;
  grid-row: 6/7;
}

.a34 {
  grid-column: 2/3;
  grid-row: 5/6;
}

.a35 {
  grid-column: 2/3;
  grid-row: 4/5;
}

.a36 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.a37 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.playerA {
}

.playerB {
}
